<div class="container-fluid help">
  <div class="container help-content">
    <a href="#" id="btn-menu-close" class="btn btn-menu-close"><i class="fa fa-times" aria-hidden="true"></i></a>

    <h1>Ajuda</h1>

    <div class="row">
      <p>CONTENT</p>
    </div>

    <div class="content-top-space logo-unbox text-center">
      <hr>
      <img src="imgs/logo_unbox_gray.svg" alt="Unbox" title="Unbox Learning Experience" data-target="" class="" />
    </div>

  </div>
</div>
