.dashboard {
    position: fixed;
    height: 0;
    width: 100%;
    z-index: $zindex-dashboard;
    left: 0;
    top: 0;
    background-color: #FFF;
    overflow: auto;
    transition: 0.5s;
}

.dashboard-content {
    position: relative;
    width: 400;
    margin-top: 80px;
}

.btn-menu-close {
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 80px !important;
}
