<div class="jumbotron text-center">
    <h1>COVER PAGE</h1>

    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>

    <p>
        <button id="start-btn" class="btn btn-primary" href="#" role="button">Start</button>
    </p>
</div>
