<div class="jumbotron">
    <h1>{{ title }}</h1>
    <ul>
        <li>title: {{ title }}</li>
        <li>src: {{ src }}</li>
    </ul>

    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    </p>

    <p><a id="btn-next-page" class="btn btn-primary btn-lg" href="#" role="button">Previous Page</a></p>
</div>
