#cover-section-new {
    position: relative;
    .section-bg {
        @extend .section-bg-base;
        background-color: #90112e;
        background-image: url('../imgs/cover/cover_newsuser_bg.jpg');
        min-height: 100vh;
    }
    #start-btn {
        left: 50%;
        position: absolute;
        top: 410px;
        transform: translate(-50%, -50%);
    }
    .footer {
        bottom: 0;
        position: absolute;
        width: 100%;
        .btn {
            padding: 0 0;
        }
        .small {
            font-size: 11px;
        }
        .logo-ub {
            padding-top: 77px;
        }
        #credit-btn,
        .small {
            margin-top: 90px;
        }
        .row {
            margin-bottom: 15px;
            margin-top: 0;
        }
    }
}

@media (max-width: 949px) {
    #cover-section-new {
        #start-btn {
            top: 50%;
        }
        .footer {
            .logo-ub {
                padding-top: 5px;
            }
            .small {
                margin-top: 20px;
            }
            #credit-btn {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 481px) {
    #cover-section-new {
        .section-bg {
            background-image: url('../imgs/cover/cover_newsuser_bg_480.jpg');
        }
        img {
            margin-top: -25px;
        }
        #start-btn {
            top: 320px;
        }
        .footer {
          min-height: 140px;
            .logo-ub {
                padding-top: 30px;
            }
            #credit-btn {
                margin-bottom: 15px;
                margin-top: 15px;
            }
        }
    }
}
