//== Custom Colors
//
$white:                     #fff;

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-navbar-float:       1020 !default;
$zindex-menu:               1035 !default;

// menu
$list-group-item-active-icon: '\f192';
$list-group-item-disable-icon: '\f023';
$list-group-item-hover-icon: '\f04b';

//sectionnav
$list-icon-default: '\f111';
$list-icon-active: '\f192';
$list-icon-hover: $list-icon-active;
$list-icon-disabled: '\f1db';
