<section class="row">
    <div class="container">
        <nav class="text-center hidden-xs">
            <ul class="pagination chapter-nav">
                {{#each chapters}}
                    <li>
                        <a href="#/chapter/{{index}}" data-toggle="tooltip" title="{{{title}}}">{{add index 1}}</a>
                    </li>
                {{/each}}
            </ul>
        </nav>

        <button id="btn-prev-chapter" class="btn btn-primary pull-left" role="button">
            <i class="fa fa-chevron-left"></i> Módulo Anterior
        </button>

        <button id="btn-next-chapter" class="btn btn-primary pull-right" role="button">Próximo Módulo
            <i class="fa fa-chevron-right"></i>
        </button>
    </div>
</section>
