<div class="container">
    <div class="jumbotron text-center">
        <h1>Bem-vindo!</h1>

        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>

        <p>
            <button id="start-btn" class="btn btn-primary" href="#" role="button">Iniciar</button>
        </p>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p class="small muted">Todos os direitos reservados e protegidos pela Lei 9.610 de 19/02/1998 pertencem a UNBOX® Learning Experience. Não é permitida a comercialização, reprodução, transmissão, modificação, publicação ou distribuição, a qualquer título ou forma, de parte ou da íntegra do conteúdo deste material.</p>
    </div>
</div>
