<div class="jumbotron text-center">
    <h1>Bem-vindo!</h1>
    <i class="fa fa-trophy fa-3x" aria-hidden="true"></i>
</div>

<h3 class="text-center">Você já completou <strong>{{globalProgress}}%</strong> do treinamento.</h3>

<div id="progress-bar-global"></div>

<button id="start-btn" class="btn btn-primary center-block" href="#" role="button">Continuar</button>
