<div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-current" style="width: 0%">
        <span class="sr-only"></span>
    </div>

    <div class="progress-bar progress-bar-success progress-bar-max" style="width: 0%">
        <span class="sr-only"></span>
    </div>
</div>
