<div class="container-fluid dashboard">
    <a href="#" class="closebtn">×</a>

    <div class="container dashboard-content">
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="imgs/chapter_thumb.svg" alt="Chapter X">
                    <div class="caption">
                        <h3>Chapter 1</h3>

                        <ul class="list-group section-list">
                            <li class="list-group-item">Section 1
                                <a href="#" class="btn btn-primary btn-xs pull-right" role="button">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-group-item">Section 2
                                <a href="#" class="btn btn-primary btn-xs pull-right" role="button">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-group-item">Section 3
                                <i class="fa fa-lock pull-right" aria-hidden="true"></i>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="imgs/chapter_thumb.svg" alt="Chapter X">
                    <div class="caption">
                        <h3>Chapter 1</h3>

                        <ul class="list-group section-list">
                            <li class="list-group-item">Section 1
                                <a href="#" class="btn btn-primary btn-xs pull-right" role="button">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-group-item">Section 2
                                <a href="#" class="btn btn-primary btn-xs pull-right" role="button">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-group-item">Section 3
                                <i class="fa fa-lock pull-right" aria-hidden="true"></i>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="imgs/chapter_thumb.svg" alt="Chapter X">
                    <div class="caption">
                        <h3>Chapter 1</h3>

                        <ul class="list-group section-list">
                            <li class="list-group-item">Section 1
                                <a href="#" class="btn btn-primary btn-xs pull-right" role="button">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-group-item">Section 2
                                <a href="#" class="btn btn-primary btn-xs pull-right" role="button">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-group-item">Section 3
                                <i class="fa fa-lock pull-right" aria-hidden="true"></i>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
