<div class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation">

    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <img src="imgs/logo_top.png">
            </div>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a id="help" class="navbar-btn" href="#" data-toggle="tooltip" title="Ajuda"><i class="fa fa-question"></i></a>
            </li>
            <li>
                <a id="menu" class="navbar-btn" href="#" data-toggle="tooltip" title="Menu"><i class="fa fa-bars"></i></a>
            </li>
        </ul>
    </div>
</div>
