<nav class="text-center">
    <ul class="pagination section-nav">
        {{#with currentChapter}}
            {{#each section}}
                <li id="section-nav-item-{{uid}}">
                    <a href="#/chapter/{{../index}}/section/{{index}}" data-container="#section-nav" data-placement="left" data-toggle="tooltip" title="{{title}}">&nbsp;</a>
                </li>
            {{/each}}
        {{/with}}
    </ul>
</nav>
