body {
  margin-bottom: 40px;
  overflow-y: scroll;
}

#main {
  padding-left: 0;
  padding-right: 0;
}

#content {
  margin-top: 80px;
}


/* disable links */

a {
  & [disable] {
    pointer-events: none;
  }
  &.disabled {
    pointer-events: none;
  }
}
