#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
    padding: 0px 10px 0px 10px;
}


/* PROGRESS BAR */

.progress {
    background: $gray-dark;
    border: 2px solid $gray-dark;
    border-radius: 0px;
    height: 10px;

    &-bar-current {
        background: $brand-primary;
    }

    &-bar-max {
        background: lighten($brand-primary, 15%);
    }
}
