<div class="container">
    <div class="jumbotron text-center">
        <h1>Bem-vindo!</h1>
        <i class="fa fa-trophy fa-3x" aria-hidden="true"></i>
    </div>

    <h3 class="text-center">Você já completou <strong>{{getGlobalProgress}}%</strong> do treinamento.</h3>

    <div id="progress-bar-cover"></div>

    <button id="start-btn" class="btn btn-primary center-block" href="#" role="button">Continuar</button>
</div>

<div class="footer">
    <div class="container">
        <p class="small muted">Todos os direitos reservados e protegidos pela Lei 9.610 de 19/02/1998 pertencem a UNBOX® Learning Experience. Não é permitida a comercialização, reprodução, transmissão, modificação, publicação ou distribuição, a qualquer título ou forma, de parte ou da íntegra do conteúdo deste material.</p>
    </div>
</div>
